﻿@page "/counter"

<h1>Counter</h1>

<p>Current count: @counterService.Counter</p>

<button class="btn btn-primary" onclick="@counterService.Increment">Click me</button>

@using Services
@inject CounterService counterService